@media (max-width: 1000px) {
    body{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
    }

    header{
        background-color: red;
        grid-template-columns: 1 / 3;
        grid-template-rows: 1 /4;
    }
        /* grid-template-areas: 
        "header header"
        "header header"
        "main    main"
        "main   main"
        "footer footer"
        ; */
    /* }
    header{
        grid-area: "header";
    }
   main{
    grid-area: "main";
   }
   footer{
    grid-area: "footer";
   } */
   /* #section-recycling{
    grid-area: "section-recycling";
   }
   #conteudo2{
    grid-area: "conteudo2";
   }
   #pontos-de-reciclagem{
    grid-area: "pontos-de-reciclagem";
   } */
}