@media (min-width:1515px) and (max-width:1592px) {
    #lista-top > li{
        font-size: 33px;
    }

}
@media (min-width:1399px) and (max-width:1514px) {
    #lista-top > li{
        font-size: 30px;
    }

}
@media (min-width:1207px) and (max-width:1398px) {
    #lista-top > li{
        font-size: 25px;
    }

}
@media (min-width:1091px) and (max-width:1206px) {
    #lista-top > li{
        font-size: 22px;
    }

}
@media (min-width:350px) and (max-width:1091px) {
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    #lista-top > li{
        display: block;
        font-size: 40px;
        margin-bottom: 20px;
    }
    #lista-top , li > a{
        text-decoration: none;
        justify-items: none;
    }
    .nav-link{
        transition: 0.7s ease;
    }
    .nav-link:hover{
        color: aqua;
        text-decoration: none;
    }

    @media (min-width:350px) and (max-width: 981px) {
        #lixo{
            width: auto;
            grid-template-columns: repeat(2, 300px);
            grid-template-rows: repeat(3, 200px);
            gap: 0.5rem;
        }
        @media (min-width:350px) and (max-width: 870px) {
            li > img{
                width: 75px;
                height: 75px;
            }

        }
        @media (min-width: 350px) and (max-width:836px) {
            #conteudo01, #conteudo2{
                width: 600px;
                height: auto;
            }
            #conteudo01{
                height: 740px;   
            }
            #img-top{
                align-self: center;
            }
            #conteudo2{
                gap: 1rem;
            }
            @media (min-width:320px) and (max-width:450px){
                #escrita{
                    font-size: 35px;
                }
                #barra-top{
                    height: 46px;
                }
                #capa{
                    background-position: center left;
                }
                #capa::after{
                    height: 599px;
                    margin-top: 46px;
                }
                #lista-top > li{
                    font-size: 27px;
                }
                #lista-top , li > a{
                    top: 40px;
                    left: -30px;
                    text-align: left;
                }
                #lixo{
                    grid-template-columns: repeat(1, 300px);
                    grid-template-rows: repeat(2, 200px);
                }
                #conteudo01{
                    display: inline-block;
                    width: 340px;
                    height: auto;   
                }
                main{
                    text-align: center;
                }
                .fonte-p{
                    font-size: 22px;
                }
                #section-recycling{
                    height: 290px;
                }
                #recycling > li{
                    margin: auto;
                    margin-left: 17px;
                }
                #conteudo2{
                    display: inline-block;
                    width: 340px;
                    height: auto;
                    margin: 15px;   
                }
                #list-cont2{
                    font-size: 20px;
                }
                #busque-input{
                    width: 240px;
                }
            }
        }
    }
}

