@media (min-width:374px) and (max-width:1014px) {
    html, body {
        overflow-x: hidden;
    }
    #lista-top > li{
        display: block;
        font-size: 40px;
        margin-bottom: 20px;
    }
    #lista-top , li > a{
        text-decoration: none;
        justify-items: none;
    
    }
    .nav-link{
        transition: 0.7s ease;
    }
    .nav-link:hover{
        color: aqua;
        text-decoration: none;
    }
    #recycling > li:first-child {
        margin-left: 0;
        
    }
    #recycling > li:last-child {
        margin-right:0;
    }
}

@media (min-width:921px) and (max-width: 1014px) {
    #lixo{
        width: auto;
    }
    #recycling > li{
        width: 90px;
    }

}

@media (min-width:862px) and (max-width:920px) {
    #recycling > li{
        margin-right: 30px;
    }
    
    
    #lixo{
        align-items: center;
        justify-items: center;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;
    }
    
}
