body{
    margin: 0;
    background-color:#4C8D00 ;

}
header > h1{
    margin-top: 6px;
    padding: 5px;
    background-color: #F0F8E9;   
    color: #679B00;
    height:20px;
    margin-bottom: 0px;
    font-size: 30px;
}
header, nav{
    background-color: #F0F8E9;
}

#lista-top > li{
    display: inline-block;
    margin-right: 20px;
    font-size: 15px;
    padding-bottom: 9px;
}
#lista-top > li:last-child{
    margin-right: 5;
}
#lista-top , li > a{
    list-style-type: none;
    text-decoration: none;
    color: #679B00;
    text-align: right;
}
#lista-top , li > a:hover{
    color: green;
}
/* Conteudo */

#conteudo01, #conteudo2{
    margin: auto;
    width: 800px;
    margin-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    background-color:   #F0F8E9;
    padding: 10px;
}
.imgs{
    width: 300px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px
}

/* Recicling */

#section-recycling{
    background-color: white;
    height: 189px;
    box-shadow: 3px 4px 10px #7c9251;
    margin-bottom: 20px;
    padding-top: 10px;
    text-align: center;
}
#recycling > li{
    display: inline-block;
    margin-right: 30px;
}
li > img{
    width: 100px;
    height: 100px;
}
#recycling .pcor{
    color: #33CCCC; 
    font-weight: bold;
}

/* Location */
#pontos-de-reciclagem{
    width: auto;
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    background-color: #F0F8E9;
    text-align: center;
}
#pontos-de-reciclagem > img{
    width: 200px;
}
#Formulario{
    display: block;
}
label{
    display: block;
    margin-bottom: 20px;
    font-size: 19px;
}
#encontre{
    font-size: 40px;
    font-weight: bold;
}

#busque-input{
    width:25%;
    height: 30px;
    border-radius: 4px;
    border: 0.5px solid black;
    margin-right: 5px;
}
#botao{
    height: 33px;
    border-radius: 4px;
    width: 70px;
    color: #F0F8E9;
    background-color: #679B00;
    border: 0px;
}