.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body{
    padding: 0;
    margin: 0;
    background-color:#87d1d1a8 ;

}
/* Barra top */
#barra-top{
    background-color: #87d1d1 ;
    height: 70px;
}

/* Fundo do Header */
#capa{
    background-image: url(img/tartaruga.fundo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
    width: auto;
    margin-bottom: 10px;
}
#capa::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:600px;
    margin-top: 70px;
    background: rgba(0, 0, 0, 0.5) ;
}
#section-escrita{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 602px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
/* Escrita / Capa */
 /* ESCRITA TOP */
#escrita{
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 60px;
}
#lista-top{
    position: absolute;
    right: 10px;
    bottom: -20px;
}
#lista-top > li{
    display: inline-block;
    margin-right: 30px;
    font-size: 35px;
    padding-bottom: 9px;
}
#lista-top > li:last-child{
    margin-left: 0;
    margin-top: -30px;
}
#lista-top , li > a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    text-align: right;
    top: 90px;
    text-decoration: none;
   

}
#lista-top , li > a:hover{
    color: aqua;
    text-decoration: underline;
    transition: color 0.5s ease-in-out, text-decoration 0.5s ease-in-out;

} 
/* Animação */

#escrita{
    font-weight: 300;
}

#escrita span{
    position: relative;
}

#escrita span::before{
    content: "";
    color: #d3e0c3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: texto 20s infinite;
}

@keyframes texto{
    0%,20%{
      content: "Verde Tech Recycle .";  
    }
    21%, 40%{
        content: "Verde Tech Recycle ..";
    } 
    41%, 60%{
        content: "Verde Tech Recycle ...";
    }
    61%, 80%{
        content: "Verde Tech Recycle ....";
    }
    81%, 100%{
        content: "Verde Tech Recycle .....";
    }
}

#escrita span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid green;
    right: -10px;
    animation: cursor 0.8s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 13px);
    background-color:#87d1d1 ;
}

@keyframes cursor {
    0%{
        border-left: 2px solid rgb(0, 0, 0);
    }
    
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%,95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 13px);
    }
}
/* Lixo */
#lixo{
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width:1000px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 200px);
    gap: 0.5rem;
}
#lixo > div > img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    
}
/* Conteudo 1*/
#texto-cont > p , #conteudo01 div:nth-child(3){
    margin: 0;
    padding: 0;
    padding-right: 15px;
}

#conteudo01{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 550px;

}
#img-top{
    grid-column: 3;
    grid-row: 1;
}
#texto-cont{
    grid-column: 1 /3;
    grid-row: 1 / auto; 
    gap: 0rem;
}
#conteudo01 div:nth-child(3){
    grid-column: 1/4;
    gap: 0rem;
}


/* Conteudo 2 */
 
#conteudo2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}
#conteudo2 div:nth-child(3){
    grid-column: 1/3;
}
.fonte-p{
    font-size: 19px;
}

#conteudo01, #conteudo2{
    margin: auto;
    width: 800px;
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color:   #F0F8E9;
    padding: 10px;
}

.imgs{
    width: 300px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px
}

/* Recicling */

#section-recycling{
    background-color: white;
    height: 189px;
    box-shadow: 3px 4px 10px #7c9251;
    margin-bottom: 20px;
    padding-top: 10px;
    text-align: center;
}
#recycling{
        padding: 0;
    }
#recycling > li{
    display: inline-block;
    margin-right: 50px;
}
li > img{
    width: 100px;
    height: 100px;
}
#recycling .pcor{
    color: #33CCCC; 
    font-weight: bold;
}

#recycling > li:first-child {
    margin-left: 0;
    
}
#recycling > li:last-child {
    margin-right:0;
}

/* Location */
#pontos-de-reciclagem{
    width: auto;
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    background-color: #F0F8E9;
    text-align: center;
}
#pontos-de-reciclagem > img{
    width: 200px;
}
#Formulario{
    display: block;
}
label{
    display: block;
    margin-bottom: 20px;
    font-size: 19px;
}
#encontre{
    font-size: 40px;
    font-weight: bold;
}

#busque-input{
    width:25%;
    height: 30px;
    border-radius: 4px;
    border: 0.5px solid black;
    margin-right: 5px;
}
#botao{
    height: 33px;
    border-radius: 4px;
    width: 70px;
    color: #F0F8E9;
    background-color: #679B00;
    border: 0px;
}

/* Footer */
footer{
    width: auto;
    height: 120px;
    padding: 10px;
    background-color: #F0F8E9;
}
footer a{
    display: inline-block;
    padding-top: 30px;
    padding-right: 35px;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    float: right;
    position: relative;
}
.Emojis{
    width: 50px;
    height: 50px;
}
/* Assinatura */
#footer {
    height: 50px;
    width: 100%;
    /* color: #08403daa; */
    clear: both;
    position: relative;
  }
#name {
    font-family: 'Great Vibes', cursive;
    float: right;
    margin-top: 10px;
    margin-right: 4%; 
}   
